<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>INFO</h5>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Brands</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>POLICIES</h5>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Return & Exchange</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Order & Shipping</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>OUR SOCIALS</h5>
                <div class="d-flex">
                    <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                <input type="email" class="form-control bg-transparent text-white mb-2" placeholder="Email Address">
                <button class="btn btn-outline-light">Subscribe</button>
            </div>
        </div>
        <div class="text-center mt-4">
            <small>© 2024 SNEAKER HEAD</small>
        </div>
    </div>
</footer>