<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNEAKER HEAD - Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        /* Custom CSS */


        .sale-link {
            color: red !important;
        }

        .account-sidebar .nav-link {
            color: black;
            padding: 0.5rem 0;
        }

        .account-sidebar .nav-link.active {
            background-color: white;
            color:black;
            font-weight: bold;

        }

        .order-card {
            background-color: #f5f5f5;
            border-radius: 8px;
            margin-bottom: 1rem;
        }

        .order-status {
            position: relative;
            padding: 2rem 0;
        }

        .status-line {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #ddd;
            z-index: 0;
        }

        .status-line-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: black;
            z-index: 1;
        }

        .status-points {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: space-between;
        }

        .status-point {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #ddd;
        }

        .status-point.active {
            background-color: black;
        }

        .product-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .search-container {
            position: relative;
        }

        .search-container .bi-search {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #666;
        }

        /* Footer Styles */
         .footer {
             background: #000;
             color: white;
             padding: 4rem 0;
             margin-top: 4rem;
         }
         .footer h5 {
             font-size: 0.9rem;
             margin-bottom: 1rem;
         }
         .footer ul {
             list-style: none;
             padding: 0;
         }
         .footer ul li {
             margin-bottom: 0.5rem;
         }
         .footer a {
             color: white;
             text-decoration: none;
             font-size: 0.9rem;
         }

        @media (max-width: 768px) {
            .account-sidebar {
                margin-bottom: 2rem;
            }
        }
    </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">

</div>

<!-- Main Content -->
<main class="container" style="margin-top:7rem;">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <h3 class="mb-4">Account</h3>
            <p class="mb-4" th:if="${user.fullName}" th:text="'Hello ,'+ ${user.fullName}"></p>
            <div class="account-sidebar">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" href="/user/overview">Overview</a>
                    <a class="nav-link" href="#">Wallet</a>
                    <a class="nav-link active" href="/user/orders">Orders & Returns</a>
                    <a class="nav-link " href="/user/addresses">Addresses</a>
                    <a class="nav-link" href="/user/editprofile">Profile</a>
                    <a class="nav-link" href="/user/editprofile">Edit Profile</a>
                    <a class="nav-link" href="#">Delete Account</a>
                </div>
            </div>
        </div>

<!--        modal-->
        <div class="modal fade" id="returnReasonModal" tabindex="-1" aria-labelledby="returnReasonModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="returnReasonModalLabel">Why are you returning the product?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <textarea id="returnReason" class="form-control" rows="4" placeholder="Please provide your reason for returning the product..."></textarea>
                    </div>
                    <div class="text-danger d-none" id="textAreaError">Provide the reason</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="submitReturnReason()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Area -->
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h4>All orders</h4>
                    <p class="text-muted mb-0">from anytime</p>
                </div>
                <div class="d-flex gap-2">
                    <div class="search-container">
                        <input type="search" class="form-control" placeholder="Search in Orders">
                        <i class="bi bi-search"></i>
                    </div>
                    <button class="btn btn-outline-dark">Filter</button>
                </div>
            </div>

            <!-- Order 1 -->
            <div th:each="order : ${orders}">
                <div th:each="orderItem :${order.orderItems}">
                   <div class="order-card p-4" th:if="${order.status != 'DELIVERED'}">
                       <div class=" p-3"  >
                           <div class="d-flex justify-content-between align-items-start mb-3">
                               <div class="d-flex gap-3">
                                   <i class="bi bi-truck"></i>
                                   <div>
                                       <!--                                    <p class="mb-0">Estimated Delivery</p>-->
                                       <!--                                    <p class="mb-0">on Thu, 4 oct</p>-->
                                       <p class="mb-0 status-header" th:text="${order.status}"></p>
                                   </div>
                               </div>
                                   <div th:if="${order.status=='PENDING'}">
                                       <button class="btn btn-sm" style="background-color:orange;" th:if="${order.cancellation}">Cancelled</button>
                                       <button class="btn btn-danger btn-sm" th:unless="${order.cancellation}" onclick="orderCancel(this)" th:data-order-id="${order.id}">Cancel</button>
                                   </div>
                                    <div th:if="${order.status=='PAYMENTED' || order.status == 'DELIVERED' }">
                                        <button class="btn btn-sm btn-primary" th:onclick="|window.location.href='/user/orders/invoice?orderId=${order.id}'|" >Download invoice </button>
                                    </div>
                           </div>
                       </div>
                       <div class="d-flex gap-3 mb-3">
                           <img th:src= "${orderItem.productVariant.images.get(0)}" alt="Nike WMN'S DUNK LOW" class="product-img">
                           <div>
                               <p class="mb-1" th:text="${orderItem.productVariant.product.brand.name}">Nike</p>
                               <h5 th:text="${orderItem.productVariant.product.name}">WMN'S DUNK LOW</h5>
                               <p class="mb-0" th:text="'₹'+${orderItem.productVariant.getFormattedPrice()}">₹9,695.00</p>
                           </div>
                           <div style="margin-left:2rem; width:15rem;">
                               <h5 >Delivering Address</h5>
                               <p class="mb-0" th:text="${order.address.name} +', '+${order.address.building}+' '+${order.address.street}+' '+${order.address.zipCode}+', '+${order.address.state}"></p>
                               <p class="mb-0" th:text="'Mobile : '+${order.address.phone}"></p>
                           </div>
                           <div style="margin-left:2rem; width:15rem;">
                               <p class="mb-0" th:text="'Order date : '+${order.orderDate}"></p>
                           </div>
                       </div>
                       <div class="order-status" th:if="${order.status=='PENDING'}">
                           <div class="status-line">
                               <div class="status-line-progress" style="width: 75%"></div>
                           </div>
                           <div class="status-points">
                               <div class="status-point active"></div>
                               <div class="status-point active"></div>
                               <div class="status-point active"></div>
                               <div class="status-point"></div>
                           </div>
                           <div class="d-flex justify-content-between mt-2">
                               <span class="small ">Order placed</span>
                               <span class="small">In transit</span>
                               <span class="small">Out for delivery</span>
                               <span class="small">Delivered</span>
                           </div>
                       </div>
                       <div th:if="${order.status == 'UNPAID'}" class="d-flex justify-content-end " id="repaymentElement">
                           <button class="btn btn-sm" style="background-color:blue; color:white;" onclick="repayment(this)" th:data-order-id="${order.id}" th:data-order-amount="${order.orderTotal}" id="repaymentButton" >Repayment</button>
                       </div>
                   </div>

<!--                    Deliverd-card-->
                    <div class="order-card p-3" th:unless="${order.status != 'DELIVERED'}">
                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <div class="d-flex gap-3">
                                <i class="bi bi-truck"></i>
                                <div>
                                    <p class="mb-0 status-header">Delivered</p>
                                    <p class="mb-0">on Tue, 1 oct</p>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary" th:onclick="|window.location.href='/user/orders/invoice?orderId=${order.id}'|">Download invoice </button>
                            </div>
                        </div>
                        <div class="d-flex gap-3 mb-3">
                            <img th:src= "${orderItem.productVariant.images.get(0)}" alt="Nike WMN'S DUNK LOW" class="product-img">
                            <div>
                                <p class="mb-1" th:text="${orderItem.productVariant.product.brand.name}"></p>
                                <h5 th:text="${orderItem.productVariant.product.name}"></h5>
                                <p class="mb-0" th:text="'₹'+${orderItem.productVariant.getFormattedPrice()}"></p>
                            </div>
                            <div style="margin-left:2rem; width:15rem;">
                                <h5 >Delivering Address</h5>
                                <p class="mb-0" th:text="${order.address.name} +', '+${order.address.building}+' '+${order.address.street}+' '+${order.address.zipCode}+', '+${order.address.state}"></p>
                                <p class="mb-0" th:text="'Mobile : '+${order.address.phone}"></p>
                            </div>
                            <div style="margin-left:2rem; width:15rem;">
                                <p class="mb-0" th:text="'Order date : '+${order.orderDate}"></p>
                            </div>
                        </div>
                        <div class="card_bottom" th:if="${order.status == 'DELIVERED'}">
                            <div class="text-muted small">
                                Exchange/Return window closed on 17 oct
                            </div>
                            <div class="justify-content-between d-flex">
                                <div class="mt-3">
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                </div>
                                <div>
                                    <button class="btn btn-sm" style="background-color:orange; color:white;" onclick="returnProduct(this)" th:data-order-id="${order.id}" id="returnButton" >Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer">

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    let orderIdPublic;
    function orderCancel(data)
    {
        const orderId=data.getAttribute('data-order-id');
        fetch(`/user/orders/cancel/${orderId}`,{
            method:'POST',
            headers: {
                      'Content-Type': 'application/json',
                      },
        })
        .then((response)=>{
            if(response.ok)
            {
                Swal.fire({
                            icon: "success",
                            title: "Cancellation confirmed",
                            confirmButtonText: "OK", // This sets the button text
                            allowOutsideClick: false,
                        });
                        data.textContent="CANCELLED";
                        data.style.color="black";
                        data.style.backgroundColor="orange";

            }
            else
            {
                Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "Failed to confirm cancellation",
                            confirmButtonText: "OK", // This sets the button text
                            allowOutsideClick: false,
                        });
            }
        })
        .catch((error) => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "Failed to connect to the server. Please try again later.",
                    });
                });
    }

    let currentElementPublic;
    function returnProduct(data)
    {
    currentElementPublic=data;
     orderIdPublic = Number(data.getAttribute("data-order-id"));

         Swal.fire({
                                        icon: "question",
                                        title: "Do you want to return product?",
                                        text: "To return click continue",
                                        showCancelButton: true, // Enables a second button
                                        confirmButtonText: "Continue", // Text for the primary button
                                        cancelButtonText: "Cancel", // Text for the secondary button
                                        allowOutsideClick: false, // Prevent closing by clicking outside
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            openReturnModal();
                                        }
                                    });

    }

    function openReturnModal() {
            var myModal = new bootstrap.Modal(document.getElementById('returnReasonModal'));
            myModal.show();
        }

        // Function to handle form submission
        function submitReturnReason() {
            const reason = document.getElementById('returnReason').value;
            console.log(reason);
            if (reason.trim() === '') {
                document.getElementById("textAreaError").classList.remove("d-none");
            }
            else
            {

                var myModalEl = document.getElementById('returnReasonModal');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();

                document.getElementById("textAreaError").classList.add("d-none");

                fetch(`/user/order/return?orderId=${orderIdPublic}&returnReason=${reason}`,{
                       method: "POST",
                       })
                       .then(response => {

                       if(response.ok)
                       {
                            Swal.fire({
                            icon: "success",
                            title: "Return request confirmed",
                            text: "Your request will be analyzed soon.",
                            confirmButtonText: "OK", // This sets the button text
                            allowOutsideClick: false,
                        });
                        const currentElement = currentElementPublic.closest(".order-card");
                        console.log(currentElement);
                        currentElement.querySelector(".status-header").textContent="RETURN";
                        currentElement.querySelector(".card_bottom").classList.add("d-none");
                       }
                       })  ;



            }
        }

    function repayment(data)
    {
        const orderId = Number(data.getAttribute("data-order-id"));
        const amount = Number(data.getAttribute("data-order-amount"));
        fetch(`/user/razorpay?amount=${amount}`) // Example API call
                .then((response) => response.json())
                .then((orderDetails) => {
                    const options = {
                        key: 'rzp_test_vmcKcGOY0AS0MM', // Replace with your Razorpay test key ID
                        amount: orderDetails.amount, // Amount in paise
                        currency: orderDetails.currency,
                        name: 'SNEAKERHEAD',
                        description: 'E-commerce Transaction',
                        order_id: orderDetails.id, // Razorpay order ID from backend
                        handler: function (response) {

                        fetch(`/user/razorpay?orderId=${orderId}`,{
                        method:'PUT',

                        })
                        .then((response)=>{
                        console.log(response);
                                if(response.ok)
                                {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Payment successfully completed",
                                        allowOutsideClick: false,
                                    });
                                    document.querySelector(".status-header").textContent="PAYMENTED";
                                    document.getElementById("repaymentElement").classList.add("d-none");
                                    document.getElementById("repaymentElement").classList.remove("d-flex");

                                }
                        });
                        },
                        prefill: {
                            name: 'Customer Name',
                            email: 'customer@example.com',
                            contact: '9876543210',
                        },
                        theme: {
                            color: '#3399cc',
                        },
                         modal: {
                    ondismiss: function () {
                                    Swal.fire({
                                        icon: "warning",
                                        title: "Payment Cancelled",
                                        text: "Your order has been placed with an unpaid status. Complete payment from the orders page.",

                                    });
                                }
                    },
                };

                    const razorpay = new Razorpay(options);
                    razorpay.open();
                })
                .catch((error) => console.error('Error fetching Razorpay order:', error));
    }
</script>
</body>
</html>